:root {
    --bgColor: #243441;
    --color: red;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
}
.inner-container {
    display: flex;
    height: 100%;
}

.half1 {
    flex: 1 1 45%;
    height: 100%;
    color: black;

    text-align: center;
}
.half2 {
    flex: 1 1 55%;
    height: 100%;
    color: black;

    text-align: center;
}

.underline-small {
    color: attr(data-content);
    display: inline-block;
    position: relative;
}

.underline-small::after {
    content: "";
    height: 2px;
    width: 20%;
    background: attr(data-content);
    position: absolute;
    left: calc(0%);
    bottom: -5px;
}
section {
    width: 75%;
    height: 90%;
}


header {
    padding: 2rem 0 3rem 7rem;
    display: flex;
}